<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day07</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OneServlet</display-name>
    <servlet-name>OneServlet</servlet-name>
    <servlet-class>com.chenxue.Controller.OneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneServlet</servlet-name>
    <url-pattern>/OneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptAddServlet</display-name>
    <servlet-name>DeptAddServlet</servlet-name>
    <servlet-class>com.chenxue.Controller.DeptAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptAddServlet</servlet-name>
    <url-pattern>/dept/add.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptSelectServlet</display-name>
    <servlet-name>DeptSelectServlet</servlet-name>
    <servlet-class>com.chenxue.Controller.DeptSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptSelectServlet</servlet-name>
    <url-pattern>/dept/query.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptDeleteServlet</display-name>
    <servlet-name>DeptDeleteServlet</servlet-name>
    <servlet-class>com.chenxue.Controller.DeptDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptDeleteServlet</servlet-name>
    <url-pattern>/dept/delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptFindByIdServlet</display-name>
    <servlet-name>DeptFindByIdServlet</servlet-name>
    <servlet-class>com.chenxue.Controller.DeptFindByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptFindByIdServlet</servlet-name>
    <url-pattern>/dept/findById.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptUpdateServlet</display-name>
    <servlet-name>DeptUpdateServlet</servlet-name>
    <servlet-class>com.chenxue.Controller.DeptUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptUpdateServlet</servlet-name>
    <url-pattern>/dept/update.do</url-pattern>
  </servlet-mapping>
</web-app>